p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:large;
}

.instructions {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    size: 16px;
    font-size:large;
}

li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    size: 16px;
    font-size:large;
}
ul {
    list-style: none;
    padding: 0;
}
li {
    padding-left: 2.3em;
}
header {
    margin: 1em;
}
li:before {
    content: " - ";
    display: inline-block;
    margin-left: 0.0em;
    width: 1.0em;
}

.break {
    margin-top: 60px;
    margin-bottom: 30px;
}

.card_entrees {
    position: relative;
    width: 600px;
    padding: 20px;
    max-width: 85vw;
    height: 50vh;
    border-radius: 20px;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
}

.card_container {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.name {
    position: absolute;
    bottom: 10px;
    color: white;
    text-shadow: 2px 2px #f26522;
    font-size: x-large;
}

.rating {
    position: absolute;
    top: 10px;
    color: black;
}

.card_info {
    display: flex;
    justify-content: center;
    margin-top: 5vh;
}

.recipeInfo {
    margin-top: 10px;
    margin-bottom: 0;
    padding-top: 0px;
    display: flex;
}

.tags {
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
}

.recipeBody {
    margin-top: 20px;
    clear: both;
    display: flex;
    flex-direction: row;
    background: transparent;
    border-bottom: 1px solid #e0e0e0;
}

.bodyleft {
    flex: 0 1 100%;
    margin-right: 25px;
}

.bodyright {
    flex: 0 1 100%;
    margin-left: 25px;
}

img {
    margin: 10px;
    margin-top: -10px;
  }

.ingredientHeader {
    font-size: 20px;
    font-weight: bold;
    padding-left: 20%;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ingredient {
    padding-left: 20%;
}

.instructionsHeader {
    font-size: 20px;
    font-weight: bold;
    padding-left: 10px;
    display: block;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}