.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white
}

img {
    height: 50px;
    object-fit: contain;
}

.header__icon {
    padding: 20px;
}

font {
    letter-spacing: 1px;
}